/*----------------------------------BODY----------------------------------*/
 body{
    color: black;
    background-color: white;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
/*---------------------------------HEADER---------------------------------*/
header{
    color:white;
    background-color:#222832;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    margin-left: auto;
    display: flex;
    padding: 20px;
    text-align: center;
}
header h1{
    margin-left: auto;
    padding: 20px;
}
header img{
    width: 100px;
}
/*-----------------------------NAVIGATION BAR-----------------------------*/
nav{
    color: white;
    background-color:#222832;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    margin-left: auto;
    justify-content: center;
    align-content: center;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: right;
}
nav ul li{
    position: relative;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
    display: block;
}
nav ul li a:hover{
    background-color: #5e6980;
    border-radius: 15px;
}
/*------------------------------NAVBAR PROFIL------------------------------*/
.dropdown-profil{
    background-color: white;
    min-width: 150px;
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-profil li{
    display: block;
}
.dropdown-profil li a{
    color: #333;
    text-decoration: none;
    padding: 12px 16px;
    display: block;
    text-align: left;
    border-bottom: 1px solid #ebebeb;
}
.dropdown-profil li a:hover{
    color: black;
    background-color: #ebebeb;
}
li:hover .dropdown-profil{
    display: block;
}
/*------------------------------NAVBAR BERITA------------------------------*/
.dropdown-berita{
    background-color: white;
    min-width: 150px;
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-berita li{
    display: block;
}
.dropdown-berita li a{
    color: #333;
    text-decoration: none;
    padding: 12px 16px;
    display: block;
    text-align: left;
    border-bottom: 1px solid #ebebeb;
}
.dropdown-berita li a:hover{
    color: black;
    background-color: #ebebeb;
}
li:hover .dropdown-berita{
    display: block;
}
/*---------------------------------MAIN---------------------------------*/
main{
    display: flex;
    padding: 20px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
main h2{
    color: black;
    font-size: xx-large;
    margin-top: 0px;
}
/*--------------------------------SECTION--------------------------------*/
section{
    margin: 20px;
    flex: 4px;
    padding-top: 40px;
}
/*----------------------------SECTION ARTICLE----------------------------*/
section article{
    background-color:  rgb(238, 238, 238);
    color: black;
    border-radius: 10px;
    padding: 20px;
    width: 900px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
/*---------------------------SECTION FORMULIR---------------------------*/
.formulir{
    margin-bottom: 25px;
    margin-right: 25px;
}
.formulir label{
    font-weight: bold;
    color: black
}
.formulir input{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 2px solid #ddd;
}
.formulir textarea{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 150px;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 2px solid #ddd;
}
.tombolsubmit {
    background-color:#222832;
    color: white;
    border: none;
    padding: 14px 30px;
    font-size: 16px;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
}
/*--------------------------ASIDE INFO TAMBAHAN--------------------------*/
aside{
    background-color:goldenrod;
    font-family:Arial, Helvetica, sans-serif;
    padding: 20px;
    height: 120px;
    color: white;
    line-height: 30px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
}
/*---------------------------------FOOTER---------------------------------*/
footer{
    color: white;
    background-color: rgb(42, 74, 170);
    font-family:Arial, Helvetica, sans-serif;
    padding: 15px;
    margin-top: 10px;
    text-align: center;
}